body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

#box{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

h1{
  color: lime;
  text-align: center;
}

nav{
  background-color: lime;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
}

main{
  color: white;
}

div > span{
  font-size: 10px;
}

.battery1{
  width:300px;
  height:20px;
  background:goldenrod;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 20px;
}

.battery2{
  width:500px;
  height:20px;
  background:limegreen;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 20px;
}

.battery3{
  width:100px;
  height:20px;
  background:brown;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 20px;
}
